@media (max-width: 1199px) {}

@media (max-width: 991px) {
    footer {
        text-align: center;
    }

    footer img {
        margin: 0 auto 30px;
    }

    .body .col-lg-6 {
        justify-content: center !important;
        margin-top: 20px;
    }
}

@media (max-width: 767px) {
    header img {
        margin: auto;
    }

    header .col-md-6 {
        justify-content: center !important;
        margin-top: 20px;
    }

    .body .col-lg-6 img {
        height: 100px;
    }
}

@media (max-width: 575px) {
    footer .col-lg-6 {
        display: block !important;
    }
}